table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 15%;
}

thead th:nth-child(3) {
    width: 38%;
}

thead th:nth-child(4) {
    width: 38%;
}

th, td {
    padding: 20px;
    border-collapse: collapse;
    border: 3px solid purple;
}

ul {
    list-style: none;
}